.home {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  .titles {
    margin: 2rem;
    h2,
    h3 {
      font-family: "Hack";
    }
  }
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
