@import "../../utils/variables";

.selector {
  padding: 0.5rem;
  margin: 1rem;
  border: $border;
  border-radius: $borderRadius;
  background-color: transparent;
  font-family: $fontHack;
  option {
    padding: 1rem;
  }
}
