.button {
  border-radius: .5rem;
  background-color: #b8c0ff;
  padding: 1rem;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  font-family: "Hack";
  border: 0;
  margin: .5rem;
  &:hover {
    background-color: #ffd6ff;
    cursor: pointer;
  }
}
