@import "../../../utils/variables";

.task {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: $cardBgColor;
  input {
    width: 1.5rem;
    height: 1.5rem;
  }
  .text {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 100%;
    .title,
    .description {
      word-break: break-all;
      text-align: justify;
      display: flex;
    }
    .title {
      border-bottom: $border;
      font-weight: bold;
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
    .description {
      font-size: 1.2rem;
    }
  }
  .deleteBtn {
    background-color: $deleteBtnBgColor;
    color: $deleteBtnColor;
    &:hover {
      background-color: $deleteBtnBgColorHover;
      color: $deleteBtnColorHover;
    }
  }
  .editBtn {
    background-color: $editBtnBgColor;
    color: $editBtnColor;
    &:hover {
      background-color: $editBtnBgColorHover;
      color: $editBtnColorHover;
    }
  }
}
