$fontHack: "Hack";
$border: 1px solid #6d6d6d;
$borderRadius: 0.375rem;

$headerBgColor: #c8b6ff;
$footerBgColor: #bbd0ff;

$btnBgColor: #97a3fe;
$btnBgColorHover: #ffd6ff;

$deleteBtnBgColor: #d04661;
$deleteBtnBgColorHover: #d65e76;
$deleteBtnColor: #fff;
$deleteBtnColorHover: #333;

$editBtnBgColor: #4c7fee;
$editBtnBgColorHover: #91ade8;
$editBtnColor: #fff;
$editBtnColorHover: #333;

$formBgColor: #bbd0ff;
$cardBgColor: $formBgColor;
