$deleteBtnBgColor: #d04661;
$deleteBtnBgColorHover: #d65e76;
$deleteBtnColor: #fff;
$deleteBtnColorHover: #333;

$editBtnBgColor: #4c7fee;
$editBtnBgColorHover: #91ade8;
$editBtnColor: #fff;
$editBtnColorHover: #333;
