@import "../../utils/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  .containerSelect {
    display: flex;
    justify-content: start;
  }
  .header {
    text-align: center;
    font-family: $fontHack;
  }
}
