.wrapper {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  min-height: 100vh;
  main {
    display: flex;
    flex: 1 0 auto;
    .container {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
}
